<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
   <!-- Google Icon Fonts used by Materialize -->
   <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!-- Materialize CSS Framework -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <link rel="stylesheet" href="stylesheets/style.css" />
   <!-- JavaScript for Materialize -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper #c62828 red darken-3">
            <a href="" class="brand-logo left">F1 Tracker</a>
            <ul class="right">
              <li>
                <% if (user) { %>
                  <a href="/logout"><>Log Out</a>
                  <% } else { %>
                    <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                    <% } %>
              </li>
            </ul>
          </div>
        </nav>
      </div>  

<section>


  <div class="container row" >
        <h1>Add New Driver!</h1>
   
  
        <form action="/teams/drivers" method="POST">
           <label>Driver:</label>
           <input type="text" name="familyName">
           <input class="waves-effect waves-light blue btn-small" type="submit" value="Create Driver">
       </form>
      
  </div>
</section>
</body>
</html>