<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
   <!-- Google Icon Fonts used by Materialize -->
 


 <h1>Change Name</h1>
 

  <form action="/teams/<%= user._id %>?_method=PUT" method="POST">
     <label>Change Name</label>
     <input type="text" name="name" value="<%= user.name %>">
     <input type="submit" value="Update">
 </form>

 
 
</form>
</div>
</body>
</html>